body { 
    font-family: 'Open Sans', sans-serif;
    margin:0; 
    padding:0;
}


/* ---- PRELOAD IMAGES ---- */
body:after {
  content: url(images/0.png) url(images/1.png) url(images/2.png) url(images/3.png) url(images/4.png) url(images/5.png) url(images/clock.png) url(images/dismiss_preview.png) url(images/dismiss.png);
  display: none;
}


/* ---- MAP FORMATTING ---- */
.map {
    position:absolute;
    width:830px;
    height:620px;
    margin-left:-415px;
    left:50%;
    z-index: -1;
    border: solid 1px;
    border-color: #777777;
}


/* ---- BUTTON FORMATTING ---- */
a.button {
    background: linear-gradient(#EEEEEE, #C9CBC5);
    padding:8px;
    color:#65D88E;
    font-size:22px;
    text-decoration:none;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow:    inset 0 0 2px #888888;
    -webkit-box-shadow: inset 0 0 2px #888888;
    box-shadow:         inset 0 0 2px #888888;
}

a.button:hover {
    background: linear-gradient(#CCCCCC, #C9CBC5);
    color:#65D88E;
}



/* ---- INSTRUCTIONS ---- */
#instructions {
    width:830px;
    margin: 0px auto;
    font-size:24px;
    font-style:italic;
}


/* ---- NOTIFICATION CONTAINER ---- */
#notifications_container {
    width:830px;
    height:620px;
    margin: 0px auto;
    overflow:hidden;
    position:relative;
    z-index: 1;
}   


/* ---- NOTIFICATION FORMATTING ---- */
.notification, .tmp{
    vertical-align: middle;
    float:right;
    clear:both;
    margin-right:-225px;
}

.notification {
    z-index: 1;
    height:60px;
    margin-bottom:10px;
}


.dismiss{
    height:inherit;
    width:39px;
    display:inline-block;
    vertical-align: middle;
    color:#555;
    box-shadow: 0px 1px 2px;
}

.content {
    height:inherit;
    float:right;
    vertical-align: middle;
    z-index: 2;
    margin-left:-39px;
    
    color:#555;
    -webkit-box-shadow: 0px 1px 2px;
    -moz-box-shadow: 0px 1px 2px;
    box-shadow: 0px 1px 2px;
}

.green_label{
    background: linear-gradient(#54CDB1, #64D98A);
    height:inherit;
    float:right;
    vertical-align: middle;
}

.red_label{
    background: linear-gradient(#FF7373, #FF9326);
    height:inherit;
    float:right;
    vertical-align: middle;
}

.label_text {
    font-weight:800;
    font-size: 26px;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.4);
    color:white;
    
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    
    padding-left:10px;
    padding-right:10px;
}


.note{
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.85) 0%, rgba(238,238,238,0.85) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.85)), color-stop(100%,rgba(238,238,238,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(238,238,238,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.85) 0%,rgba(238,238,238,0.85) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.85) 0%,rgba(238,238,238,0.85) 100%); /* W3C */
    
    height:inherit;
    float:right;
    vertical-align: middle; 
}

.note_text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-weight: 300;    
    
    padding-left:15px;
    padding-right:15px;
}

.countdown{
    position:absolute;
    top: -12px;
    left: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
}

.snooze {
    height:inherit;
    width:225px;
    
    float:right;
    vertical-align: middle;
    
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    font-size: 26px;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.4) ;
    color:white;
    
    background: -moz-linear-gradient(top,  rgba(70,70,70,0.7) 0%, rgba(150,150,150,0.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,70,70,0.7)), color-stop(100%,rgba(150,150,150,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(70,70,70,0.7) 0%,rgba(150,150,150,0.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(70,70,70,0.7) 0%,rgba(150,150,150,0.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(70,70,70,0.7) 0%,rgba(150,150,150,0.7) 100%); /* W3C */
}

.snooze_text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
    padding-left:10px;
}




